* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  background: #141627;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
img {
  background-size: auto;
  /* transform: rotate(-0.12deg); */
  width: 50%;
  height: 750px;
  position: absolute;
  margin-left: 50%;
}
#container {
  overflow: hidden;
  box-sizing: border-box;
  margin-inline: 15%;
  /* width: 100%; */


  position: static;
}
.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

input.hand {
  background: #181b22;
  color: white;
  width: 350px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #4a4b52;
  padding: 5px 20px;
  padding-top: 30px;
  margin-top: 2.1%;
  margin-left: 70px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.input-label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  color: #606169;
  margin-top: 2.5%;
  margin-left: 65px;
  padding: 0px 20px;
}

button {
  color: white;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #4a4b52;
  /* padding: 0px, 20px, 0px, 20px; */
  background: #181b22;
  margin-top: 30px;
  margin-left: 180px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  position: relative;
}
.L-img {
  width: 38px;
  height: 65px;
  margin: 0%;
  margin-bottom: 30px;
  /* position:; */
}
#logo {
  margin-left: 350px;
  padding-top: 30px;
  margin-bottom: -20px;
  
}
h1 {
  margin-left: 60px;
}
.form {
  /* width: 200px; */
}

.disabled-link {
  background-color: #0d0e0f;
  color: #3e4449;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}
input.hand:-webkit-autofill {
  background: #181b22 !important;
}

.button{
   margin-left: 258px;
   margin-top: -190px;

}

main{
    overflow: hidden;
    display: flex;
    padding-block: 10%;
}

.message,
.successmessage{
    margin-left: 10px;
}

.loginbtn{
  position: absolute;
  color: white; 
  border-radius: 10px;
  border: 1px solid #4a4b52;
  background: #181b22;
  margin-top: 100px;
  right: 3rem;
  top: -80px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  
  
}
